
.hide {
    display: none !important;
}

.profile-photo {
    border-radius: 50px;
    object-fit: cover;
}

.photo-medium img {
    height: 106px;
    width: 106px;
}

.border {
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.userabout {
    border-radius: 5px;
    padding: 11px;
    width: 100%;
    text-align: center;
}

.option-edit .fa {
    height: 12px;
    width: 12px;
    margin: 5px;
}

.relative {
    position: relative;
}

div.background-photo {
    background-image: url(https://www.rolandberger.com/img/Tiles/roland_berger_305_uam_cargo_drones_urban_parcel_delivery_st.jpg);
    background-size: cover;
}

.option-save .fa {
    height: 12px;
    width: 12px;
    margin: 5px;
}

.zero-padding {
    padding: 0;
}

.inline-grid {
    display: inline-grid;
}

.ctn-optpost {
    height: 52px;
}

textarea {
    padding: 0;
    border: 0;
    border-radius: 10px;
}
#generalComment{
    height: 75px;
}

#btn-postComment {
    margin-top: -47px;
}
#commnetArea{
    // margin-right: 80px;
    width: 330px;
    margin: -9px 0 1px 0px;
}
.textarea2 {
    padding: 0;
    border: 0;
    border-radius: 10px;
    height: 40px;
    width: 300px;
}

textarea::placeholder {
    padding: 10px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

body,
h1,
h2,
h3,
h4,
h5,
html {
    font-family: "Open Sans", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.max-width {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

menu {
    display: block;
}

[hidden],
template {
    display: none;
}

a,:active,:hover {
    outline-width: 0;
}

strong {
    font-weight: bolder;
}

img {
    border-style: none;
    vertical-align: middle;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    border-top: 1px solid #eee;
    margin: 0;
}

button {
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
}

body,
html {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    overflow-x: hidden;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 10px 0;
}

.h4 {
    font-size: 17px;
    margin: 0px;
}
.h4-m {
    font-size: 13px;
    margin: 0px;
}

.font-13 {
    font-size: 13px;
}

.comment-m {
    background-color: #e9d391;
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 13px;
}


.avatar {
    width: 45px;
}

.avatar-m {
    width: 35px;
}

a {
    color: inherit;
    background-color: transparent;
}

.fa-edit, 
.fa-save, 
.fa-ellipsis-h,
.fa-trash-o,
.fa-telegram-plane {
    cursor: pointer;
}

.button {
    border: none;
    display: inline-block;
    padding: 8px 5px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    // color: inherit;
    // background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.buttonCounter {
    display: inline-block;
    height: 2.5rem;
    padding: 6px 5px 15px;
    margin-bottom: 20px;
    margin-right: 20px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    /* text-align: center; */
    white-space: nowrap;
    /* border-left: dashed; */
    border: dashed;
    border-radius: 5em;
}

.button-medium {
    width: 75px;
    border-radius: 10px;
}

.button-small {
    border: none;
    padding: 0;
    overflow: hidden;
    text-decoration: none;
    cursor: pointer;
}

div #ctn-privacy {
    width: 80px;
}

.button#private-privacy:focus,
.button-small#privacy:focus,
.button#public-privacy:focus  {
    outline: none;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

:disabled * {
    pointer-events: none;
}

.display-container {
    position: relative;
}

.bar {
    width: 100%;
    overflow: hidden;
}

.center .bar {
    display: inline-block;
    width: auto;
}

.bar .bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.bar .button {
    white-space: normal;
}

.bar-block .bar-item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

.bar-block.center .bar-item {
    text-align: center;
}

.bar:after,
.bar:before,
.clear:after,
.clear:before,
.container:after,
.container:before,
.row-padding:after,
.row-padding:before,
.row:after,
.row:before {
    content: "";
    display: table;
    clear: both;
}

.col,
.half {
    float: left;
    width: 100%;
}

.margin-top {
    margin-top: 25px;
}

.margin-z {
    margin: 0;
}

.tooltip  {
    width: 20%;
    font-weight: 600;
    text-align: start;
    border-radius: 7px;
    padding: 5px 0;
    position: absolute;
    right: 18%;
    font-size: 12px;
    z-index: 1;
}

.tooltip-c {
    width: 25%;
    font-weight: 600;
    text-align: start;
    border-radius: 7px;
    position: absolute;
    right: 11.2%;
    font-size: 12px;
    z-index: 1;
    background-color: #9EE2F8;
}

// .tooltip::after{
//     content: "";
//     position: absolute;
//     bottom: 100%;
//     left: 82%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: transparent transparent #9EE2F8 transparent;
// }

@media (min-width: 601px) {
    .col.m1 {
        width: 8.33333%;
    }
    .col.m2 {
        width: 16.66666%;
    }
    .col.m3 {
        width: 24.99999%;
    }
    .col.m4 {
        width: 33.33333%;
    }
    .col.m5 {
        width: 41.66666%;
    }
    .col.m6,
    .half {
        width: 49.99999%;
    }
    .col.m7 {
        width: 58.33333%;
    }
    .col.m8 {
        width: 66.66666%;
    }
    .col.m9 {
        width: 74.99999%;
    }
    .col.m10 {
        width: 83.33333%;
    }
    .col.m11 {
        width: 91.66666%;
    }
    .col.m12 {
        width: 99.99999%;
    }
}

@media (min-width: 993px) {
    .col.l1 {
        width: 8.33333%;
    }
    .col.l2 {
        width: 16.66666%;
    }
    .col.l3 {
        width: 24.99999%;
    }
    .col.l4 {
        width: 33.33333%;
    }
    .col.l5 {
        width: 41.66666%;
    }
    .col.l6 {
        width: 49.99999%;
    }
    .col.l7 {
        width: 58.33333%;
    }
    .col.l8 {
        width: 66.66666%;
    }
    .col.l9 {
        width: 74.99999%;
    }
    .col.l10 {
        width: 83.33333%;
    }
    .col.l11 {
        width: 91.66666%;
    }
    .col.l12 {
        width: 99.99999%;
    }
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

.show {
    display: block !important;
}

@media (max-width: 600px) {
    .hide-small {
        display: none !important;
    }
}

@media (min-width: 993px) {
    .hide-large {
        display: none !important;
    }
    .photo-medium img {
        height: 106px;
        width: 106px;
        position: absolute;
        left: 7em;
        top: 10em;
    }
    div.background-photo {
        height: 18rem;
        position: relative;
    }
    .button {
        padding: 8px 16px !important;
    }
    .button-medium {
        width: 100px;
        border-radius: 10px;
    }
    div #ctn-privacy {
        width: 100px;
    }
    .row-paddingl {
        padding: 0;
    }
    .tooltip {
        font-size: 15px;
        right: 5.3%;
        padding: 5px 0;
        width: 13%;
    }

    .tooltip-c {
        font-size: 15px;
        right: 14%;
        padding: 3px 0;
        width: 15%;
    }

    .margin-right {
        margin-right: 16px !important;
    }
    .h4 {
        font-size: 20px;
    }
    .comment-m {
        background-color: #e9d391;
        padding: 3px 8px;
        border-radius: 10px;
        font-size: 17px;
    }
    .h4-m{
        font-size: 16px;
    }
    .margin-bottom-m {
        margin-bottom: 7px !important;
    }
}

@media (max-width: 992px) and (min-width: 601px) {
    .hide-medium {
        display: none !important;
    }
    .tooltip {
        font-size: 15px;
        right: 5.3%;
        width: 15%;
    }
    .margin-right {
        margin-right: 16px !important;
    }
    .h4 {
        font-size: 20px;
    }
    .h4-m{
        font-size: 16px;
    }
    .comment-m {
        background-color: #e9d391;
        padding: 3px 8px;
        border-radius: 10px;
        font-size: 15px;
    }
    .margin-bottom-m {
        margin-bottom: 7px !important;
    }
}

.top {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

.display-topright {
    position: absolute;
    right: 0;
    top: 0;
}

.circle {
    border-radius: 50%;
}

.round {
    border-radius: 4px;
}

.row-padding,
.row-padding > .col,
.row-padding > .half {
    padding: 0 8px;
}

.row-paddingl {
    padding: 0 16px;
}

.container {
    padding: 0.01em 16px;
}

.container-m {
    padding: 5px;
}

.card {
    box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.16), 0 10px 20px 0 rgba(0, 0, 0, 0.16);
}
.card1 {
    box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.16), 0 10px 20px 0 rgba(72, 93, 161, 0.678);
}

.opacity {
    opacity: 0.6;
}

.large {
    font-size: 18px !important;
}

.left-align {
    text-align: left !important;
}

.center {
    text-align: center !important;
}

.border-radius {
    border-radius: 10px;
}

.margin {
    margin: 16px !important;
}

.margin-m {
    margin: 7px 0 0 35px;
}


.margin-bottom {
    margin-bottom: 16px !important;
}

.margin-bottom-m {
    margin-bottom: 7px !important;
}

.margin-right {
    margin-right: 5px;
}

.padding {
    padding: 8px 16px;
}

.padding-large {
    padding: 12px 24px !important;
}

.padding-left {
    padding-left: 5px;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}


.theme-dd {
    color: #2B3049;
    background-color: #9EE2F8;
}

.theme-d1 {
    color: #fff;
    background-color: #2B3049;
}
.button:hover {
    color: #2B3049 !important;
    background-color: #9EE2F8 !important;
}


.hover-white:hover,
.white {
    color: #2B3049 !important;
    background-color: #E0C162 !important;
}



.theme-d2 {
    color: #fff !important;
    background-color: #E0C162 !important;
}

.theme-d3 {
    color: #2B3049 !important;
    background-color: #9EE2F8 !important;
}

.theme-d4 {
    color: #fff !important;
    background-color: #B0B0B0 !important;
}

.theme-d5 {
    color: #2B3049 !important;
    background-color: #B0B0B0 !important;
}

.theme-l5 {
    color: #000 !important;
    background-color: #2B3049 !important;
}

.containerProgress {
    width: 100%;
    height: 15px;
    margin: 1% 0 2%;
    background-color: rgb(195, 189, 189);
    border-radius: 8px;
    display: none;
  }
  
  .progress {
    width: 0%;
    height: 15px;
    background-color: #58DAD2;
    text-align: center;
    color: white;
    font-size: 11px;
    font-weight: 600;
    border-radius: 8px;
    padding: 0 6%;
  }

  .showProgress {
    display: block !important;
  }

  .picPost {
    width: 100%;
    height: 100%;
  }

  .divImg {
    width: 45%;
    height: 40%;
    padding: 1%;
    margin: 2% 0 1%;
    border: solid 1px #c5c5c5;
    border-radius: 8px;
    position: relative;
  }

  .deleteImg {
    font-size: 12px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
