.flex {
    display: flex;    
    align-items: center;
    justify-content: center;   
}

.column {
    flex-direction: column;
}

.content1 {
    text-align: center;
}

.container-form {
    width: 232px;
    height: 400px;
    background: $bg-form;
    border-radius: 20px;
}

.data-register {
    width: 174px;
    margin-bottom: 35px;
}

.inputs-form {
    padding: 0px 5px 45px 5px;
}

.inputs-form input{
    border: none;
    outline: none;
    background: none;
    border-bottom: 4px solid #201C50;
    padding-bottom: 8px;
    padding-top: 17px;
}

::placeholder {
    color: #201C50;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.7px;
}

.btn-form {
    outline: none;
    border: none;
    cursor: pointer;
    width: 170px;
    height: 38px;
    border-radius: 20px;
    background: #201C50;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
}

.txt-register {
    font-size: 12px;
    color: #120136;
    margin: 0;
}

.logo-google, 
.logo-fb {
    width: 45px;
    height: 45px;
    margin: 15px;
}

.ask-option {
    margin-top: 15px;
}

div .question {
    color: #120136;
    margin: 0;
    font-size: 12px;
    margin-right: 5px;
}

div .option {
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    color: #360C8E;
}

.find-delivers {
    letter-spacing: 1px;
    font-size: 16px;
}
.error-msg {
    font-size: 12px;
    color: #cc4539;
    font-style: normal;
    text-align: left;
}