<<<<<<< HEAD
$main-font: 'Lato', sans-serif;
$font: 'Lato', regular;
$bgcolor-top-bottom: linear-gradient(#201C50, rgba(144, 112, 185, 0.35));
$bgcolor-left-right: linear-gradient(to right, #201C50, #9070B9);
=======

>>>>>>> ec11f4a424fe76824aab1fa62a1e3cff6b39be05
$bg-form: rgba(255, 255, 255, 0.62);


@import "register";
@import "profile-home";

  * {
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
}
  body {
    width: 100%;
    font-family: $main-font;
  }
  